@import "./variables";
@import "./mixins";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //unit: 10px
  @include respond(430px) {
    font-size: 50%;
  }
  @include respond(310px) {
    font-size: 40%;
  }
  @include respond(255px) {
    font-size: 30%;
  }
}

body {
  font-family: $font-family;
  background: $color-cream;
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-cream;
  padding: 1rem 0;
}

main {
  flex: 0 0 40rem;
  @include respond(430px) {
    flex: 0 0 90%;
  }
}
