$color-soft-red: hsl(10, 79%, 65%);
$color-cyan: hsl(186, 34%, 60%);

$color-dark-brown: hsl(25, 47%, 15%);
$color-med-brown: hsl(28, 10%, 53%);

$color-cream: hsl(27, 66%, 92%);

$color-light-orange: hsl(33, 100%, 98%);

$font-size: 18px;
$font-family: "DM Sans", sans-serif;

$font-weight-normal: 400;
$font-weight-bold: 700;
